<!DOCTYPE html>
<html lang="zh-CN">
<head>
<title>中国资本市场信息披露平台</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="Keywords" content="信息披露,沪市,深市,中小板,创业板,新三板,基金,债券,公司公告,上市公司,中证网,中证报,中国证券报" />
<meta name="Description" content="中证网－中国权威的财经证券资讯网站,资本市场信息披露平台,覆盖沪市、深市、新三板、基金、债券、监管机构信息披露" />

<base target="_blank" />
<!--统计meta-->
<!--统计meta end-->
<link rel="shortcut icon" type="image/x-icon" href="http://www.cs.com.cn/images/logo-cs.png" />
<link type="text/css" rel="Stylesheet" href="../static/css/2018global.css" />
<link type="text/css" rel="Stylesheet" href="../static/css/2018sec.css" />
<link type="text/css" rel="Stylesheet" href="../static/css/2018detal.css" />
<SCRIPT src="../static/js/jquery1.42.min.js" type="text/javascript"></SCRIPT>
<SCRIPT src="../static/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></SCRIPT>


</head>
<body>

<!--顶部-->
<div class="top"><iframe class="frmtop" frameborder="0" src="L0_top.html" scrolling="no"></iframe></div>
<!--顶部结束 end-->

<div class="main clear">
	<div class="nav-line1">
		<div class="nav-zq"><a href="http://www.cs.com.cn/"><img src="../static/images/none.gif"></a></div>
		<div class="nav-zqline"></div>
		<div class="nav-xp"><a href="L1_首页.html"><img src="../static/images/none.gif"></a></div>
		  <div class="nav-ad"><a href=""><img src="../static/images/ad.jpg"></a></div>       <!--广告-->
	</div>

	<div class="nav-main">
		<div class="nav-search">
			<input type="text" value="请输入代码/简称/拼音/关键字..." name="searchword" onfocus="if(value=='请输入代码/简称/拼音/关键字...') {value='';this.style.color='#0865a2';}" onblur="if(value=='') {value='请输入代码/简称/拼音/关键字...';this.style.color='#d3d3d3';}" style="color: rgb(211, 211, 211);"><div class="imgbox"><input value="" type="submit" /></div>
		</div>

		<div class="nav-item">
			<ul id="nav-item-ul" class="nav-item-ul clearfix">
				<li class="nLi" style="display:none">
					<h3><a href="" target="_blank">首页</a></h3>
				</li>
				<li class="nLi">
					<h3><a href="L2_1_1_公司公告.html" style="background-image:none;">信息披露</a></h3>
					<ul class="sub">
							<li><a href="L2_1_1_公司公告.html">公司公告</a></li>
							<li><a href="L2_1_2_深交所公告.html">深交所公告</a></li>
							<li><a href="L2_1_3_证监会公告.html">证监会公告</a></li>
							<li><a href="L2_1_4_发审公告.html">发审公告</a></li>
							<li><a href="L2_1_5_政策法规.html">政策法规</a></li>
							<li><a href="L2_1_6_投资者教育.html">投资者教育</a></li>
					</ul>
				</li>
				<li class="nLi">
					<h3><a href="L2_2_1_公司概览.html">公司概览</a></h3>
				</li>
				<li class="nLi">
					<h3><a href="L2_3_1_公开信息.html">交易总览</a></h3>
					<ul class="sub">
							<li><a href="L2_3_1_公开信息.html">公开信息</a></li>
							<li><a href="L2_3_2_市场总貌.html">市场总貌</a></li>
							<li><a href="L2_3_3_交易统计.html">交易统计</a></li>
					</ul>
				</li>
			</ul>
			<script id="jsID" type="text/javascript">			
			jQuery("#nav-item-ul").slide({type:"menu",titCell:".nLi",targetCell:".sub",effect:"slideDown",delayTime:300 ,triggerTime:0,returnDefault:true });
			</script>
		</div>

	</div>
</div>

<div class="main clear">
	<div class="box820 fl boxformo">
		<div class="sebar sebar_small">
			<span class="list1">一级栏目&nbsp;&nbsp;>&nbsp;&nbsp;</span><span class="list1">二级栏目&nbsp;&nbsp;>&nbsp;&nbsp;</span><span class="list2">当前所属栏目</span>
		</div>
		<div class="bd_con bd_con_small">
			<h2>【证监会】非上市公众公司监管问答——申报材料公开的相关要求</h2>
			<p class="publishtime"><span class="from">来源：<span class="info">深圳证券交易所</span></span><span class="date">发布时间：<span class="info">2009-09-25</span></span></p>
			<div class="content ">
<p>　　非上市公众公司行政许可要求披露公开转让说明书（定向转让说明书、定向发行说明书、重大资产重组报告书）申报稿和对反馈意见的回复，对申请人提出了哪些要求？ </p>
</p>　　答：为做好公开转让说明书（定向转让说明书、定向发行说明书、重大资产重组报告书）申报稿和对反馈意见的回复的公开披露工作，申请人应当做好如下工作： 
<br>　　1、在提交行政许可申请材料和对反馈意见的回复时，申请人应当出具书面声明，同意披露公开转让说明书（定向转让说明书、定向发行说明书、重大资产重组报告书）申报稿和对反馈意见的回复。 
<br>　　2、申请人应当在公开转让说明书（定向转让说明书、定向发行说明书、重大资产重组报告书）申报稿的显要位置声明：“本公司的挂牌公开转让（定向转让、定向发行、重大资产重组）的申请尚未得到中国证监会核准。本公开转让说明书（定向转让说明书、定向发行说明书、重大资产重组报告书）申报稿不具有据以公开转让（定向转让、定向发行、资产重组）的法律效力，投资者应当以正式公告的公开转让说明书（定向转让说明书、定向发行说明书、重大资产重组报告书）全文作为投资决策的依据”。 
<br>　　3、申请人及其全体董事、监事和高级管理人员应当保证公开披露的公开转让说明书（定向转让说明书、定向发行说明书、重大资产重组报告书）申报稿和对反馈意见的回复的内容真实、准确、完整，并承担相应的法律责任。</p>
<p>　　非上市公众公司行政许可要求披露公开转让说明书（定向转让说明书、定向发行说明书、重大资产重组报告书）申报稿和对反馈意见的回复，对申请人提出了哪些要求？ </p>
</p>　　答：为做好公开转让说明书（定向转让说明书、定向发行说明书、重大资产重组报告书）申报稿和对反馈意见的回复的公开披露工作，申请人应当做好如下工作： 
<br>　　1、在提交行政许可申请材料和对反馈意见的回复时，申请人应当出具书面声明，同意披露公开转让说明书（定向转让说明书、定向发行说明书、重大资产重组报告书）申报稿和对反馈意见的回复。 
<br>　　2、申请人应当在公开转让说明书（定向转让说明书、定向发行说明书、重大资产重组报告书）申报稿的显要位置声明：“本公司的挂牌公开转让（定向转让、定向发行、重大资产重组）的申请尚未得到中国证监会核准。本公开转让说明书（定向转让说明书、定向发行说明书、重大资产重组报告书）申报稿不具有据以公开转让（定向转让、定向发行、资产重组）的法律效力，投资者应当以正式公告的公开转让说明书（定向转让说明书、定向发行说明书、重大资产重组报告书）全文作为投资决策的依据”。 
<br>　　3、申请人及其全体董事、监事和高级管理人员应当保证公开披露的公开转让说明书（定向转让说明书、定向发行说明书、重大资产重组报告书）申报稿和对反馈意见的回复的内容真实、准确、完整，并承担相应的法律责任。</p>
			</div>
		</div>
	</div>


	<div class="box330 fr">
		<iframe class="frmright" frameborder="0" src="L2_right.html" scrolling="no"></iframe>
	</div>
</div>


<div class="blank20"></div>
<div class="blank20"></div>

<!--底部-->
 <div class="bottom"><iframe class="frmbottom" frameborder="0" src="L0_bottom.html" scrolling="no"></iframe></div>
<!--底部结束 end-->

</body>
</html>

