<!DOCTYPE html>
<html lang="zh-CN">
<head>
<title>中国资本市场信息披露平台</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="Keywords" content="信息披露,沪市,深市,中小板,创业板,新三板,基金,债券,公司公告,上市公司,中证网,中证报,中国证券报" />
<meta name="Description" content="中证网－中国权威的财经证券资讯网站,资本市场信息披露平台,覆盖沪市、深市、新三板、基金、债券、监管机构信息披露" />

<base target="_blank" />
<!--统计meta-->
<!--统计meta end-->
<link rel="shortcut icon" type="image/x-icon" href="http://www.cs.com.cn/images/logo-cs.png" />
<link type="text/css" rel="Stylesheet" href="../static/css/2018global.css" />
<link type="text/css" rel="Stylesheet" href="../static/css/2018sec.css" />
<link type="text/css" rel="Stylesheet" href="../static/css/2018detal.css" />
<SCRIPT src="../static/js/jquery1.42.min.js" type="text/javascript"></SCRIPT>
<SCRIPT src="../static/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></SCRIPT>


</head>
<body>

<!--顶部-->
<div class="top"><iframe class="frmtop" frameborder="0" src="top.html" scrolling="no"></iframe></div>
<!--顶部结束 end-->

<div class="main clear">
	<div class="nav-line1">
		<div class="nav-zq"><a href="http://www.cs.com.cn/"><img src="../static/images/none.gif"></a></div>
		<div class="nav-zqline"></div>
		<div class="nav-xp"><a href="index.html"><img src="../static/images/none.gif"></a></div>
		  <div class="nav-ad"><a href=""><img src="../static/images/ad.jpg"></a></div>       <!--广告-->
	</div>

	<div class="nav-main">
		<div class="nav-search">
			<input type="text" value="请输入代码/简称/拼音/关键字..." name="searchword" onfocus="if(value=='请输入代码/简称/拼音/关键字...') {value='';this.style.color='#0865a2';}" onblur="if(value=='') {value='请输入代码/简称/拼音/关键字...';this.style.color='#d3d3d3';}" style="color: rgb(211, 211, 211);"><div class="imgbox"><input value="" type="submit" /></div>
		</div>

		<div class="nav-item">
			<ul id="nav-item-ul" class="nav-item-ul clearfix">
				<li class="nLi" style="display:none">
					<h3><a href="" target="_blank">首页</a></h3>
				</li>
				<li class="nLi">
					<h3><a href="gsgg.html" style="background-image:none;">信息披露</a></h3>
					<ul class="sub">
							<li><a href="gsgg.html">公司公告</a></li>
							<li><a href="sjsgg.html">深交所公告</a></li>
							<li><a href="zjhgg.html">证监会公告</a></li>
							<li><a href="fsgg.html">发审公告</a></li>
								<li><a href="http://www.szse.cn/lawrules/rules/regu/index.html">政策法规</a></li>
							<li><a href="http://www.csrc.gov.cn/pub/newsite/ztzl/chyeban/tzzjy/">投资者教育</a></li>
					</ul>
				</li>
				<li class="nLi">
					<h3><a href="gsgl.html">公司概览</a></h3>
				</li>
				<li class="nLi">
					<h3><a href="gkxx.html">交易总览</a></h3>
					<ul class="sub">
							<li><a href="gkxx.html">公开信息</a></li>
							<li><a href="sczm.html">市场总貌</a></li>
							<li><a href="jytj.html">交易统计</a></li>
					</ul>
				</li>
			</ul>
			<script id="jsID" type="text/javascript">			
			jQuery("#nav-item-ul").slide({type:"menu",titCell:".nLi",targetCell:".sub",effect:"slideDown",delayTime:300 ,triggerTime:0,returnDefault:true });
			</script>
		</div>

	</div>
</div>

<div class="main clear">
	<div class="box820 fl boxformo">
		<div class="sebar sebar_small">
			<span class="list1"><a href="">首页</a>&nbsp;&nbsp;>&nbsp;&nbsp;</span><span class="list2">投资者教育</span>
		</div>
		<div class="bd_con bd_con_small">
			<h2>开户流程</h2>
			<p class="publishtime"><span class="from">来源：<span class="info">深圳证券交易所</span></span><span class="date">发布时间：<span class="info">2009-09-25</span></span></p>
			<div class="content ">
<p><strong>开通创业板市场交易具体要经过哪些流程？</strong>

<p>　　投资者申请参与创业板市场的流程大致分为四步：</p>
<p>　　第一步，投资者应尽可能了解创业板的特点、风险，客观评估自身的风险承受能力，审慎决定是否申请开通创业板市场交易。</p>
<p>　　第二步，投资者通过网上或到证券公司营业场所现场提出开通创业板市场交易的申请。</p>
<p>　　第三步，投资者在提出开通申请后，应向证券公司提供本人身份、财产与收入状况、风险偏好等基本信息。证券公司将据此对投资者的风险承担能力进行测评，并将测评结果告知投资者，作为投资者判断自身是否适合参与创业板交易的参考。</p>
<p>　　如果风险测评结果显示投资者的风险承受能力较弱，不适合参与创业板交易，投资者应当审慎考虑是否直接参与创业板交易或者选择通过购买投资基金等方式间接参与。</p>
<p>　　第四步，投资者在证券公司经办人员的见证下，需按照要求到证券公司的营业部现场签署风险揭示书（未具备两年交易经验的投资者还应抄录“特别声明”）。证券公司完成相关核查程序后，在规定时间内为投资者开通创业板市场交易。</p>
<p>　　深交所提醒您：加强对创业板市场的认识，熟悉申请开通创业板交易的流程，了解自身风险承受能力，做到办理手续心中有数，参与创业板市场谨慎、理性。</p>

</p>
			</div>
		</div>
	</div>


	<div class="box330 fr">
		<iframe class="frmright" frameborder="0" src="L2_right.html" scrolling="no"></iframe>
	</div>
</div>


<div class="blank20"></div>
<div class="blank20"></div>

<!--底部-->
 <div class="bottom"><iframe class="frmbottom" frameborder="0" src="bottom.html" scrolling="no"></iframe></div>
<!--底部结束 end-->

</body>
</html>

